@media screen and (max-width: 800px) {
  main {
    height: 100%;
    padding-bottom: 10px;
  }

  #shield {
    grid-template-rows: 1fr 3fr 3fr 3fr 3fr;
    grid-template-areas: 
    "header header header header header"
    "post1 post1 post1 post1 post1"
    "post2 post2 post2 post2 post2"
    "post3 post3 post3 post3 post3"
    "links links links infos infos";
    padding: 0px 5px 10px;
  }

  .fixedHeader {
    padding: 20px 10px;

    #logo {
      font-size: 1.5em;
    }
  }

  #blogMain {
    grid-template-rows: 1fr 1fr 1fr 50px 1fr;
    grid-template-areas: 
    "post1 post1 post1 post1 post1"
    "post2 post2 post2 post2 post2"
    "post3 post3 post3 post3 post3"
    "allPosts allPosts allPosts allPosts allPosts"
    "links links links infos infos";
    padding: 0px 5px 10px;
  }

  .linksBox {
    max-height: 300px;

    h2 {
      font-size: 1.1rem;
    }
  }

  .infos {
    max-height: 300px;
  }

  .blogPost {
    height: 35vh;
  }

  

  @keyframes allPosts {
    0% {
      text-align: center;
      width: 50vw;
    }
    100% {
      text-align: center;
      width: 100%;
    }
  }
}