#shield {
  display: grid;
  grid-template-rows: 1fr 3fr 3fr 3fr;
  grid-template-areas: 
  "header header header header header"
  "post1 post1 post1 post1 links"
  "post2 post2 post2 post2 links"
  "post3 post3 post3 post3 infos";
  gap: 10px;
  width: 100%;
  height: 100vh;
  padding: 0px 10px 10px;
}

.header {grid-area: header;}
.infos {grid-area: infos;}
.post1{grid-area: post1;}
.post2{grid-area: post2;}
.post3{grid-area: post3;}
.links {grid-area: links;}

.background {
  background-color: lightgray;
  animation: loader 3s infinite ease-out;
}

@keyframes loader {
  0% {
    background-color: lightgray;
  }
  50% {
    background-color: rgb(172, 171, 171);
  }
  100% {
    background-color: lightgray;
  }
}